{% extends 'base.html' %}

{% block title %}Caregiver Dashboard{% endblock %}

{% block content %}
    <style>
        /* CSS styles for the care seeker boxes */
        .care-seekers-container {
            text-align: center; /* Center horizontally */
            margin-top: 20px;
        }

        .care-seeker-box {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
            background-color: #f9f9f9;
            display: inline-block;
            vertical-align: top;
        }

        .care-seeker-box strong {
            color: #333;
        }
    </style>

    <h2>Care Seekers</h2>
    <div class="care-seekers-container">
        {% for care_seeker in care_seekers %}
            <div class="care-seeker-box">
                <strong>Username:</strong> {{ care_seeker.username }}<br>
                <strong>Email:</strong> {{ care_seeker.email }}<br>
                <strong>Type of care needed:</strong> {{ care_seeker.type_of_care_needed }} <br>
                <strong>Monthly budget:</strong> {{ care_seeker.monthly_budget }}<br>
                <strong>Availability needed:</strong> {{ care_seeker.email }}<br>
                <strong>Preffered qualifications:</strong> {{ care_seeker.preferred_qualifications }}<br>
                <strong>Medical Conditions:</strong> {{ care_seeker.medical_conditions }}<br>
                <!-- type_of_care_needed=request.form.get('type_of_care_needed'),
            monthly_budget=request.form.get('budget'),
            availability_needed=availability_needed,
            preferred_qualifications=request.form.get('preferred_qualifications'),
            medical_conditions=request.form.get('medical_conditions'),,-->
            </div>
        {% endfor %}
    </div>

<form action="{{ url_for('auth.logout') }}" method="POST">
        <button type="submit" class="logout-button">Logout</button>
    </form>

{% endblock %}