{% extends 'base.html' %}
{% block title %}homepage{% endblock %}

{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
    .column {
      float: left;
      width: 33.33%;
      padding: 20px;
      height: 400px;   /*cat de mari sunt coloanele */
      margin-top: 80px;    /*pozitionare in pagina */
      opacity: 0.8;
      border-radius: 10px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    @media (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
    .login-form {
        background-color: #aaa; /* Adjust as needed */
        padding: 20px;
        border-radius: 10px;
    }
    .login-form label {
        display: block;
        margin-bottom: 10px;
    }
    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .login-form input[type="submit"] {
        background-color: #333; /* Adjust as needed */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .register-message {
        text-align: center;
        margin-top: auto; /* Center vertically */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%; /* Occupy full height */
    }

    .register-button {
        background-color: #007bff; /* Adjust as needed */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

</style>

<div class="row">
  <div class="column">
    <div class="login-form">
        <h2>Member Login</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        <a href="/forgot-password">Forgot Password?</a>
    </div>
  </div>
  <div class="column" style="background-color:#bbb;">Column</div>
    <div class="column" style="background-color:#ccc;">
    <div class="register-message">
        <p>If you don't have an account, register here:</p>
        <a href="/register" class="register-button">Register</a>
    </div>
  </div>
</div>

{% endblock %}